<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="css/slick.css"/>
  <link rel="stylesheet" type="text/css" href="./css/slick-theme.css"/>
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/main.css">
</head>
<boody>
<footer>
    <div id="contact">
      <div id="footer-content" class="wrapper">
        <aside>
          <h4>Med<span>Careers</span></h4>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece . </p>
        </aside>
        <aside>
          <h4>Jobs</h4>
          <ul>
            <li><a href="#">Find a job </a></li>
            <li><a href="#">Find a company</a></li>
            <li><a href="#">Recruiter directory</a></li>
            <li><a href="#">Career advice</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </aside>
        <aside>
          <h4>Trainings</h4>
          <ul>
            <li><a href="#">Find a training</a></li>
            <li><a href="#">Training advice</a></li>
            <li><a href="#">Career guides</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </aside>
        <aside>
          <h4>More</h4>
          <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">Work with us</a></li>
            <li><a href="#">Press office</a></li>
            <li><a href="#">Recruiting?</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
          </ul>
        </aside>
        <aside>
          <h4>Contact us</h4>
          <p><a href="#">hello@medcareers.com</a><br>+123456785612<br>
            1731 Fieldcrest Road,<br>
            New York. NY</p>
        </aside>
      </div>
    </div>
    <div id="social-media" class="wrapper">
      <span class="spritefacebook-logo"></span>
      <span class="spritetwitter"></span>
      <span class="spriteinstagram"></span>
    </div>
  </footer>
</body>
</html>