<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="css/slick.css"/>
  <link rel="stylesheet" type="text/css" href="./css/slick-theme.css"/>
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/main.css">
</head>

<body>
<%- include("./partials/header.ejs") %>
<div id="content">
  <div id="source" class="wrapper">
    <h2>Your source of <span>jobs</span> & <span>Trainings</span> in healthcare</h2>
    <p>Contrary to popular belief, Lorem Ipsum is not simply cereers random text. It has roots in a piece of classical Latin <br> literature from  making it over 2000 years old. </p>
    <span class="spritesource-icon"></span>
    <p>Recruiting? <a href="#">Request a demo</a></p>
  </div>
  <div id="search" class="wrapper">
    <div id="pharma-loca">
      <div id="pharma">
        <span class="spritesearch"></span>
        <textarea rows="1" cols="32">Pharma</textarea>
      </div>
      <div id="location">
        <span class="spritelocalisation"></span>
        <textarea rows="1" cols="19.8">Location</textarea>
      </div>
    </div>
    <div id="time">
      <span class="spriteclock"></span>
      <select>
        <option value="full-time">Full-time</option>
        <option value="8Hours">8 Hours</option>
        <option value="4Hours">4 Hours</option>
      </select>
      <span class="spritefull-time-arrow"></span>
    </div>
    <div id="search-button">
      <a href="#">Search jobs</a>
    </div>
  </div>
  <div class="wrapper">
   <div id="article-header">
    <h2>Top employers recruiting <span>with us</span></h2>
    <p>There are many variations of passages of Lorem Ipsum available, but the majority  suffered. </p>
   </div>
   <div id="top-employers" class="wrapper">
    <div>
      <aside>
      <h3>Aetna</h3>
      <p>Aetna International expat health insurance provides worldwide health insurance plans.<span>1,352 jobs</span></p>
      <span class="spritesee-more-arrow"></span>
    </aside>
    <aside>
      <h3>CVSHealth</h3>
      <p>Aetna International expat health insurance provides worldwide health insurance plans.<span>527 jobs</span></p>
      <span class="spritesee-more-arrow"></span>
    </aside>
    </div>
    <aside>
      <h3>Mskesson</h3>
      <p>Aetna International expat health insurance provides worldwide health insurance plans.<span>491 jobs</span></p>
      <span class="spritesee-more-arrow"></span>
    </aside>
    <aside>
      <h3>Anthem</h3>
      <p>Aetna International expat health insurance provides worldwide health insurance plans.<span>364 jobs</span></p>
      <span class="spritesee-more-arrow"></span>
    </aside>
   </div>
   <div id="link">
    <a href="#">See more</a>
   </div>
  </div>
  <div id="jobs" class="wrapper">
    <h2>Featured jobs</h2>
    <aside>
      <div>
        <span class="spritestar"></span>
        <div class="paragraph">
          <p>Healthcare Analyst</p>
          <p>CVS Health <b>.</b> <span>Denver, CO</span></p>
        </div>
        <a href="a">See details</a>
      </div>
      <div>
        <span class="spritestar"></span>
        <div class="paragraph">
          <p>Director Enrollment Services</p>
          <p>UnitedHealth Group <b>.</b> <span>Denver, CO</span></p>
        </div>
        <a href="a">See details</a>
      </div>
    </aside>
    <aside>
      <div>
        <span class="spritestar"></span>
        <div class="paragraph">
          <p>Healthcare Analyst</p>
          <p>CVS Health <b>.</b> <span>Denver, CO</span></p>
        </div>
        <a href="a">See details</a>
      </div>
      <div>
        <span class="spritestar"></span>
        <div class="paragraph">
          <p>Director Enrollment Services</p>
          <p>UnitedHealth Group <b>.</b> <span>Denver, CO</span></p>
        </div>
        <a href="a">See details</a>
      </div>
    </aside>
  </div>
  <div id="slider">
    <div id="slider-header" class="wrapper">
      <h2>What  people say <span>about us</span></h2>
      <p>making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one </p>
    </div>
    <div id="slider-content" class="wrapper">
      <div class="slicker">
        <aside>
          <b>,,</b>
          <div>
            <img src="img/docteure.png">
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor .</p>
          <span>Adeline Morrison</span>
          <p>Head of the Departmnt of Pediatrics  health ,CA. </p>
          </div> 
        </aside>
        <aside>
          <b>,,</b>
          <div>
            <img src="img/docteur.png">
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor .</p>
          <span>Henry jennings</span>
          <p>Head of the Departmnt of Pediatrics  health ,CA. </p>
          </div> 
        </aside>
        <aside>
          <b>,,</b>
          <div>
            <img src="img/docteure.png">
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor .</p>
          <span>Adeline Morrison</span>
          <p>Head of the Departmnt of Pediatrics  health ,CA. </p>
          </div> 
        </aside>
        <aside>
          <b>,,</b>
          <div>
            <img src="img/docteur.png">
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor .</p>
          <span>Henry jennings</span>
          <p>Head of the Departmnt of Pediatrics  health ,CA. </p>
          </div> 
        </aside>
        <aside>
          <b>,,</b>
          <div>
            <img src="img/docteure.png">
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor .</p>
          <span>Adeline Morrison</span>
          <p>Head of the Departmnt of Pediatrics  health ,CA. </p>
          </div> 
        </aside>
        <aside>
          <b>,,</b>
          <div>
            <img src="img/docteur.png">
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor .</p>
          <span>Henry jennings</span>
          <p>Head of the Departmnt of Pediatrics  health ,CA. </p>
          </div> 
        </aside>
      </div>
      <span class="spriteslider-left" id="prv"></span>
    <span class="spriteslider-right" id="nxt"></span>
    </div>
  </div>
  <div class="wrapper" id="article">
    <div id="articles-header">
      <h2>Latest articles</h2>
      <p>making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one </p>
    </div>
    <div id="articles" class="wrapper">
      <aside>
        <img src="img/brain.png">
        <div>
          <p>August 25, 2017 <b>.</b> <span>Neurology</span></p>
        <p>Ringing in ears keeps brain more at attention , less at rest</p>
        <p>making it over 2000 years old. Richard time McClintock, a Latin professor at College ... </p>
        <span class="spritesee-more-arrow"></span>
        </div>
      </aside>
      <aside>
        <img src="img/sleep.png">
        <div>
          <p>August 25, 2017 <b>.</b> <span>Neurology</span></p>
        <p>How does poor sleep affect our abillity to learn?</p>
        <p>making it over 2000 years old. Richard time McClintock, a Latin professor at College ... </p>
        <span class="spritesee-more-arrow"></span>
        </div>
      </aside>
      <aside>
        <img src="img/sport.png">
        <div>
          <p>August 25, 2017 <b>.</b> <span>Neurology</span></p>
        <p>How does the brain respond to a single bout of exercise?</p>
        <p>making it over 2000 years old. Richard time McClintock, a Latin professor at College ... </p>
        <span class="spritesee-more-arrow"></span>
        </div>
      </aside>
    </div>
    <div id="read"><a href="#">Keep reading</a></div>
  </div>
</div>
<div id="footer-header" class="wrapper">
  <h2>Subscribe to our <span>newsletter</span></h2>
  <p>There are many variations of passages of Lorem Ipsum available, but the  alteration . </p>
</div>
<div id="subchek">
<div id="subscribe" class="wrapper">
  <div id="mail">
    <span class="spriteclose-envelope"></span>
    <form action="/index" method="POST">
      <textarea id="snippet" required name="snippet">example@mail.com</textarea>
    </div>
    <button>Subscribe</button>
  </form>
  </div>  
  <a id="checkSub" href='/subscribers'>Check subscribers here!</a>
</div>
<%- include("./partials/footer.ejs") %>

  <script src="js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script type="text/javascript" src="js/slick.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>
